<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-narrow">
				<aside class="menu">
					<p class="menu-label">
						Operating system
					</p>
					<ul class="menu-list">
						{{#each os}}{{#if os}}
						<li><a class="os"><span>{{os}}</span><span> ({{count}})</span></a></li>
						{{/if}}{{/each}}
					</ul>
					<p class="menu-label">
						Edition
					</p>
					<ul class="menu-list">
						{{#each osEdition}}{{#if osEdition}}
						<li><a class="osEdition"><span>{{osEdition}}</span><span> ({{count}})</span></a></li>
						{{/if}}{{/each}}
					</ul>
					<p class="menu-label">
						Manufacturer
					</p>
					<ul class="menu-list">
						{{#each manufacturer}}{{#if manufacturer}}
						<li><a class="manufacturer"><span>{{manufacturer}}</span><span> ({{count}})</span></a></li>
						{{/if}}{{/each}}
					</ul>
					<p class="menu-label">
						Product
					</p>
					<ul class="menu-list">
						{{#each product}}{{#if product}}
						<li><a class="product"><span>{{product}}</span><span> ({{count}})</span></a></li>
						{{/if}}{{/each}}
					</ul>
					<p class="menu-label">
						Owner
					</p>
					<ul class="menu-list">
						{{#each ownerGroup}}{{#if ownerGroup}}{{#ifcmp count ">" 1}}
						<li><a class="ownerGroup"><span>{{ownerGroup}}</span><span> ({{count}})</span></a></li>
						{{/ifcmp}}{{/if}}{{/each}}
					</ul>
				</aside>
			</div>
			<div class="column">
				<div id="hostlist" class="columns is-multiline"></div>
				<div id="morehosts"></div>
			</div>
		</div>
	</div>
</section>
