<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-narrow">
				<aside class="menu">
					<p class="menu-label">
						Operating system
					</p>
					<ul class="menu-list">
						{{#each os}}
						<li><a class="os"><span>{{@key}}</span><span> ({{.}})</span></a></li>
						{{/each}}
					</ul>
					<p class="menu-label">
						Edition
					</p>
					<ul class="menu-list">
						{{#each osEdition}}
						<li><a class="osEdition"><span>{{@key}}</span><span> ({{.}})</span></a></li>
						{{/each}}
					</ul>
					<p class="menu-label">
						Manufacturer
					</p>
					<ul class="menu-list">
						{{#each manufacturer}}
						<li><a class="manufacturer"><span>{{@key}}</span><span> ({{.}})</span></a></li>
						{{/each}}
					</ul>
					<p class="menu-label">
						Product
					</p>
					<ul class="menu-list">
						{{#each product}}
						<li><a class="product"><span>{{@key}}</span><span> ({{.}})</span></a></li>
						{{/each}}
					</ul>
					<p class="menu-label">
						Owner
					</p>
					<ul class="menu-list">
						{{#each ownerGroup}}
						<li><a class="ownerGroup"><span>{{@key}}</span><span> ({{.}})</span></a></li>
						{{/each}}
					</ul>
				</aside>
			</div>
			<div class="column">
				<div id="hostlist" class="columns is-multiline"></div>
				<div id="morehosts"></div>
			</div>
		</div>
	</div>
</section>
