<h1 class="title">{{filename}}</h1>
<h1 class="subtitle">From
	<a href="browse.html?c={{certfp}}"
		onclick="APIcall('mockapi/browsehost.json?c={{certfp}}',
			'browsehost', '#placeholder_browse'); return false">
			{{hostname}}</a></h1>

<div class="field has-addons">
	<div class="control">
		<a class="button is-static">
			Last modified
		</a>
	</div>
	<div class="control has-icons-left">
		<div class="select">
			<select>
				<option>{{lastModified}}</option>
			</select>
		</div>
		<span class="icon is-left">
			<i class="far fa-clock fa-lg"></i>
		</span>
	</div>
</div>

<div class="filecontent">{{content}}</div>
