<section class="section">
<div class="container">

<h1 class="title">
	{{#if hostname}}{{hostname}}{{/if}}
	{{#unless hostname}}{{ipAddress}}{{/unless}}
</h1>

<p>
<table>
<tr><th>IP address</th><td>{{ipAddress}}</td></tr>
<tr><th>Last seen</th><td>{{formatDateTime lastseen}}</td></tr>
<tr><th>OS</th><td>{{os}}</td></tr>
<tr><th>OS edition</th><td>{{osEdition}}</td></tr>
<tr><th>Kernel</th><td>{{kernel}}</td></tr>
<tr><th>Hardware manufacturer</th><td>{{manufacturer}}</td></tr>
<tr><th>Hardware product</th><td>{{product}}</td></tr>
<tr><th>Serial number</th><td>{{serialNo}}</td></tr>
<tr><th>Certificate fingerprint</th><td>{{certfp}}</td></tr>
<tr><th>Client version</th><td>{{clientVersion}}</td></tr>
</table>
</p>

<div class="columns">
	<div class="column is-narrow">
		<h1 class="title is-4 is-marginless">Files</h1>
		{{#each files}}
		{{#unless isCommand}}
		{{#if isDeleted}}<span class="strikethrough">{{/if}}
		<a href="#/browsefile/{{../hostname}}/{{urlescape filename}}">{{filename}}</a><br>
		{{#if isDeleted}}</span>{{/if}}
		{{/unless}}
		{{/each}}
	</div>
	<div class="column">
		<h1 class="title is-4 is-marginless">Commands</h1>
		{{#each files}}
		{{#if isCommand}}
		{{#if isDeleted}}<span class="strikethrough">{{/if}}
		<a href="#/browsefile/{{../hostname}}/{{urlescape filename}}">{{filename}}</a><br>
		{{#if isDeleted}}</span>{{/if}}
		{{/if}}
		{{/each}}
	</div>
</div>

</div></section>
