<section class="section">
	<div class="container">
		<h1 class="title is-4">API keys</h1>
		<div class="columns">
			<div class="column">
				<table class="table is-transparent is-hoverable">
					<tr>
						<th>Key</th>
						<th>Comment</th>
						<th>Filter</th>
						<th>Readonly</th>
						<th>Expires</th>
						<th>ACL</th>
					</tr>
					{{#each apikeys}}
					<tr data-edit-action="/api/v0/keys/{{key}}">
						<td>{{key}}</td>
						<td><span data-name="comment">{{comment}}</span></td>
						<td><span data-name="filter">{{filter}}</span></td>
						<td>
							<label class="checkbox">
								<input type="checkbox" name="readonly" data-name="readonly"
									{{#if readonly}}checked{{/if}} disabled>
							</label>
						</td>
						<td>{{formatDateTime expires}}</td>
						<td>
							{{#each ipranges}}
							{{this}}
							{{/each}}
						</td>
						<td>
							<button class="button editbutton">
								<i class="far fa-edit"></i>
							</button>
						</td>
						<td>
							<button class="button deletebutton">
								<i class="far fa-trash-alt"></i>
							</button>
						</td>
					</tr>
					{{/each}}
				</table>
				<div>
					<table>
						<tr><th>Key</th><td>lasjkdlasjkd</td></tr>
						<tr><th>Comment</th><td><input type="text" name="comment" size="80"></td></tr>
						<tr><th>Filter</th><td><input type="text" name="filter" size="80"></td></tr>
						<tr><td></td><td>
							<div class="field is-grouped">
								<p class="control">
									<button class="button is-primary">
										<i class="far fa-edit"></i> Save
									</button>
								</p>
								<p class="control">
									<button class="button">
										<i class="fas fa-ban"></i> Cancel
									</button>
								</p>
							</div>
						</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>