<section class="section">
	<div class="container">
		<h1 class="title is-4">API keys</h1>
		<div class="columns">
			<div class="column">
				<table class="table is-transparent is-hoverable">
					{{#each .}}
					{{#if @first}}
					<tr>
						<th>Key</th>
						<th>Comment</th>
						<th>Filter</th>
						<th>Readonly</th>
						<th>Expires</th>
						<th>ACL</th>
						<th colspan="2"><!-- edit and delete buttons --></th>
					</tr>
					{{/if}}
					<tr data-edit-action="/api/v0/keys/{{keyID}}">
						<td><span data-name="name" class="all-copy">{{key}}</span></td>
						<td>{{comment}}</td>
						<td>{{filter}}</td>
						<td>
							<label class="checkbox">
								<input type="checkbox" name="readonly" value="1"
									{{#if readonly}}checked{{/if}} disabled>
							</label>
						</td>
						<td>{{formatDateTime expires}}</td>
						<td>
							{{#each ipRanges}}{{this}}<br>{{/each}}
						</td>
						<td>
							<a class="button" href="/#/keys/{{keyID}}">
								<i class="far fa-edit"></i>
							</a>
						</td>
						<td>
							<button class="button deletebutton">
								<i class="far fa-trash-alt"></i>
							</button>
						</td>
					</tr>
					{{/each}}
				</table>
			</div>
		</div>
		<div class="columns">
			<div class="column is-narrow">
				<h1 class="title is-5" id="formtitle">Generate a new key</h1>
				<form action="/api/v0/keys" method="post" id="keyform">
					<div class="field">
						<label class="label">Comment or description</label>
						<div class="control">
							<input class="input" name="comment" size="60"
								type="text" placeholder="Comment...">
						</div>
					</div>
					<div class="field">
						<label class="label">Can the key be used to modify data?</label>
						<div class="control">
							<label class="radio">
								<input type="radio" name="readonly" value="1" checked>
								Read only
							</label>
							<label class="radio">
								<input type="radio" name="readonly" value="0">
								Can modify data
							</label>
						</div>
					</div>
					<div class="field">
						<label class="label">Restrict which hosts the key applies to</label>
						<div class="control">
							<input class="input" type="text" name="filter" size="60"
								placeholder="hostname=*.acme.com">
							<span data-error-for="filter" class="has-text-danger"></span>
						</div>
					</div>
					<div class="field">
						<label class="label">Expiry date</label>
						<div class="control">
							<input class="input" type="text" name="expires" size="20" 
									placeholder="YYYY-MM-DD" pattern="\d\d\d\d-[01]\d-[0-3]\d">
							<span data-error-for="expires" class="has-text-danger"></span>
						</div>
					</div>
					<div class="field">
						<label class="label">Whitelist the ip ranges the key can be used from</label>
						<div class="control">
							<textarea name="ipRanges" class="textarea" placeholder="172.16.0.0/20
123.134.145.0/24"></textarea>
							<span data-error-for="ipRanges" class="has-text-danger"></span>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input type="submit" class="button is-primary" value="Save">
						</div>
					</div>
				</form>
			</div>
			<div class="column is-narrow">
				<nav class="level">
					<div class="level-left">
						<div class="level-item">
							<i class="fa fa-info-circle fa-2x"></i>
						</div>
						<div class="level-item">
							<h3 class="title is-5">How to use</h3>
						</div>
					</div>
				</nav>
				Use the <i>Authorization</i> http header:
				<div class="code">
				curl -sSH "Authorization: APIKEY your-api-key-here" \<br>
				"<span id="apiPrefix">http://nivlheim.example.com/api/v1/</span>..."
				</div>
			</div>
		</div>
	</div>
</section>