<section class="section">
	<div class="container">
		<h1 class="title is-4">API keys</h1>
		<div class="columns">
			<div class="column">
				<table class="table is-transparent is-hoverable">
					{{#each .}}
					{{#if @first}}
					<tr>
						<th>Key</th>
						<th>Comment</th>
						<th>Filter</th>
						<th>Readonly</th>
						<th>Expires</th>
						<th>ACL</th>
					</tr>
					{{/if}}
					<tr data-edit-action="/api/v0/keys/{{key}}">
						<td><span class="all-copy">{{key}}</span></td>
						<td><span data-name="comment">{{comment}}</span></td>
						<td><span data-name="filter">{{filter}}</span></td>
						<td>
							<label class="checkbox">
								<input type="checkbox" name="readonly" data-name="readonly" value="1"
									{{#if readonly}}checked{{/if}} disabled>
							</label>
						</td>
						<td>{{formatDateTime expires}}</td>
						<td>
							{{#each ipranges}}
							{{this}}
							{{/each}}
						</td>
						<td>
							<button class="button editbutton">
								<i class="far fa-edit"></i>
							</button>
						</td>
						<td>
							<button class="button deletebutton">
								<i class="far fa-trash-alt"></i>
							</button>
						</td>
					</tr>
					{{/each}}
				</table>
				<h1 class="title is-5">Generate a new key</h1>
				<div>
					<form action="/api/v0/keys" method="post">
					<table>
						<tr><th>Comment</th><td><input type="text" name="comment" size="80"></td></tr>
						<tr><th>Filter</th><td><input type="text" name="filter" size="80"></td></tr>
						<tr><th>Readonly</th><td>
							<label class="checkbox">
								<input type="checkbox" class="checkbox" name="readonly" value="1" checked>
							</label>
						</td></tr>
						<tr><td></td><td><input type="submit" class="button is-primary" value="Save"></td></tr>
					</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>