<table class="table is-transparent is-striped">
	<tbody>
		<tr>
			<th>Machines in the system</th>
			<td>{{numberOfMachines}}</td>
		</tr>
		<tr>
			<th>Files in the system</th>
			<td>{{numberOfFiles}}</td>
		</tr>
		{{#if numberOfMachines}}
		<tr>
			<th>Machines that reported last hour</th>
			<td>
				{{reportingPercentageLastHour}}%
				{{#ifcmp reportingPercentageLastHour "<" 90}}
				<span class="icon">
					<i class="fas fa-exclamation-triangle color-warning"></i>
				</span>
				{{/ifcmp}}
			</td>
		</tr>
		{{/if}}
		<tr>
			<th>Incoming queue size</th>
			<td>{{incomingQueueSize}}
				{{#ifcmp incomingQueueSize "<" 0}}
				<span class="icon">
					<i class="fas fa-exclamation-triangle color-warning"></i>
				</span>
				{{/ifcmp}}
			</td>
		</tr>
		<tr>
			<th>Parse queue size</th>
			<td>{{parseQueueSize}}</td>
		</tr>
		<tr>
			<th>Task queue size</th>
			<td>{{taskQueueSize}}</td>
		</tr>
		<tr>
			<th>Failing tasks</th>
			<td>{{failingTasks}}
				{{#ifcmp failingTasks ">" 10}}
				<span class="icon">
					<i class="fas fa-exclamation-triangle color-warning"></i>
				</span>
				{{/ifcmp}}
			</td>
		</tr>
		<tr>
			<th>Age of the newest file</th>
			<td>{{formatInterval ageOfNewestFile}}
				{{#ifcmp ageOfNewestFile ">" 3600}}
				<span class="icon">
					<i class="fas fa-exclamation-triangle color-warning"></i>
				</span>
				{{/ifcmp}}
			</td>
		</tr>
		<tr>
			<th>Throughput per second</th>
			<td>{{formatNumber throughputPerSecond}} files</td>
		</tr>
		{{#each lastExecutionTime}}
		<tr>
			<th>{{@key}}
				<div data-error-for="{{@key}}"
				class="has-text-danger is-size-7"></div>
			</th>
			<td>{{formatNumber this}} seconds</td>
		</tr>
		{{/each}}
	</tbody>
	<tfoot>
		<tr><td colspan="2">
			<i><span class="is-size-7" id="statusLoadedIn"></span></i>
		</td></tr>
	</tfoot>
</table>
